<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>详细信息</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h1>
                        详细信息
                    </h1>
                    <ul>
                        <li>
                        车牌号：{{rec.car_no}}
                        </li>
                        <li>
                        驾驶员姓名：{{rec.driver_name}}
                        </li>
                        <li>
                        联系方式：{{rec.contact_info}}
                        </li>
                        <li>
                        发货煤矿：{{ rec.mine.name }}
                        </li>
                        <li>
                        煤类型：{{ rec.coal_type.name }}
                        </li>
                    </ul>
                    {% if not rec.arrive_amount %}
                    <form role="form" action="/work/weight" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="qrcode" value="{{ rec.qrcode }}">
                        <div class="form-group">
                            <label>
                                矿发量
                            </label>
                            <input type="text" class="form-control" name="setoff_amount">
                        </div>
                        <div class="form-group">
                            <label>
                                实收量
                            </label>
                            <input type="text" class="form-control" name="arrive_amount">
                        </div>
                        <div class="buttons">
                            <button type="submit" class="btn btn-default">
                                确定
                            </button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
