<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>详细信息</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h1>
                        详细信息
                    </h1>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                车牌号：
                            </div>
                            <div class="panel-body">
                                {{rec.car_no}}
                            </div>
                            <div class="panel-heading">
                                驾驶员姓名：
                            </div>
                            <div class="panel-body">
                                {{rec.driver_name}}
                            </div>
                            <div class="panel-heading">
                                联系方式：
                            </div>
                            <div class="panel-body">
                                {{rec.contact_info}}
                            </div>
                            <div class="panel-heading">
                                发货煤矿：
                            </div>
                            <div class="panel-body">
                                {{rec.mine.name}}
                            </div>
                            <div class="panel-heading">
                                煤类型：
                            </div>
                            <div class="panel-body">
                                {{rec.coal_type.name}}
                            </div>
                            <div class="panel-heading">
                                目标磅房：
                            </div>
                            <div class="panel-body">
                                {{rec.scale.name}}
                            </div>
                        </div>
                    </div>
                    {% if not rec.arrive_amount %}
                    <form role="form" action="/work/arrive" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="buttons">
                            <button type="submit" class="btn btn-default">
                                确定
                            </button>
                            <a role="button" href="list" class="btn btn-default">
                                返回列表
                            </a>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
