<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>统计信息</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h1>
                        统计信息
                    </h1>

                    <h2>
                        矿厂出货信息：
                    </h2>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        矿厂名
                                    </th>
                                    {% for coal_type in coal_types %}
                                    <th>
                                        {{ coal_type.name }}
                                    </th>
                                    {% endfor %}
                                    <th>
                                        合计
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in mine_table %}
                                <tr>
                                    {% for v in row %}
                                    <td>
                                        {{ v }}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        合计
                                    </td>
                                    {% for coal_type in coal_types %}
                                    <td>
                                    </td>
                                    {% endfor %}
                                    <td>
                                        {{ mine_total }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>
                        磅房进出货信息：
                    </h2>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        磅房名
                                    </th>
                                    {% for coal_type in coal_types %}
                                    <th>
                                        {{ coal_type.name }}
                                    </th>
                                    {% endfor %}
                                    <th>
                                        进货合计
                                    </th>
                                    <th>
                                        出货量
                                    </th>
                                    <th>
                                        余量
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in scale_table %}
                                <tr>
                                    {% for v in row %}
                                    <td>
                                        {{ v }}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        合计
                                    </td>
                                    {% for coal_type in coal_types %}
                                    <td>
                                    </td>
                                    {% endfor %}
                                    <td>
                                        {{ in_total }}
                                    </td>
                                    <td>
                                        {{ out_total }}
                                    </td>
                                    <td>
                                        {{ balance_total }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>
                        运费信息：
                    </h2>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                <th>
                                    进货总运费
                                </th>
                                <th>
                                    出货总运费
                                </th>
                                <th>
                                    现金余额
                                </th>
                                <tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for v in cash_info %}
                                    <td>
                                        {{ v }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>
                        油卡信息：
                    </h2>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        面额（元）
                                    </th>
                                    <th>
                                        已付数量（张）
                                    </th>
                                    <th>
                                        余量（张）
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for card_info in cards_info %}
                                <tr>
                                    {% for v in card_info %}
                                    <td>
                                        {{ v }}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="buttons">
                        <a role="button" href="/work/list" class="btn btn-primary btn-lg">
                            返回列表
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <br>
        </div>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
