<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>出货单</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body class="text-center">
                    <!--<p>
                        出货单
                    </p>-->
                    <br>
                        <p>
                            车牌号：
                            {{rec.car_no}}
                        </p>
                        <p>
                            驾驶员姓名：
                            {{rec.driver_name}}
                        </p>
                        <p>
                            联系方式：
                            {{rec.contact_info}}
                        </p>
                        <p>
                            发货煤矿：
                            {{rec.mine.name}}
                        </p>
                        <p>
                            煤类型：
                            {{rec.coal_type.name}}
                        </p>
                        <p>
                            目标磅房：
                            {{rec.scale.name}}
                        </p>
                        <p>
                            出发时间：
                        </p>
                        <p>
                            {{ rec.setoff_time|date:"Y-m-d H:i:s" }}
                        </p>
                        <div id="qrcode">
                        </div>

                        <!--<div class="panel-heading">
                        矿发量：
                    </div>
                    <div class="panel-body">
                        {{ rec.setoff_amount }}
                    </div>
                    <div class="panel-heading">
                        实收量：
                    </div>
                    <div class="panel-body">
                        {{ rec.arrive_amount }}
                    </div>
                    <div class="panel-heading">
                        到达时间：
                    </div>

                    <div class="panel-body">
                        {{ rec.arrive_time|date:"Y-m-d H:i:s" }}
                    </div>
                    <div class="panel-heading">
                        油卡：
                    </div>
                    <div class="panel-body">
                        {{ rec.card.value }}
                    </div>
                    <div class="panel-heading">
                        油卡已付：
                    </div>
                    <div class="panel-body">
                        {{ rec.card_payed|yesno:"是,否" }}
                    </div>
                    <div class="panel-heading">
                        现金：
                    </div>
                    <div class="panel-body">
                        {{ rec.cash }}
                    </div>
                    <div class="panel-heading">
                        现金已付：
                    </div>
                    <div class="panel-body">
                        {{ rec.cash_payed|yesno:"是,否" }}
                    </div>-->

                    <div class="buttons hidden-print">
                        <a role="button" href="list" class="btn btn-primary btn-lg">
                            返回列表
                        </a>
                    </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/jquery.qrcode.min.js"></script>
        <script>
            $('#qrcode').qrcode({
                    "width":"100",
                    "height":"100",
                    "text":"{{rec.qrcode}}"
                    });
        </script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
