<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>查看记录</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h1>
                        查看所有记录
                    </h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    车牌号
                                </th>
                                <th>
                                    驾驶员姓名
                                </th>
                                <th>
                                    联系方式
                                </th>
                                <th>
                                    出货磅房
                                </th>
                                <th>
                                    单价
                                </th>
                                <th>
                                    出货量
                                </th>
                                <th>
                                    出发时间
                                </th>
                                <th>
                                    已付款
                                </th>
                                <!--<th>
                                </th>-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for rec in recs %}
                            <tr>
                                <td>
                                    {{ rec.id }}
                                </td>
                                <td>
                                    {{ rec.car_no }}
                                </td>
                                <td>
                                    {{ rec.driver_name }}
                                </td>
                                <td>
                                    {{ rec.contact_info }}
                                </td>
                                <td>
                                    {{ rec.scale.name }}
                                </td>
                                <td>
                                    {{ rec.unit }}
                                </td>
                                <td>
                                    {{ rec.amount }}
                                </td>
                                <td>
                                    {{ rec.setoff_time|date:"Y-m-d H:i:s" }}
                                </td>
                                <td>
                                    {{ rec.payed|yesno:"是,否" }}
                                </td>
                                <!--<td>
                                    <a role="button" href="listout?qrcode={{rec.qrcode}}" class="btn btn-default">
                                        查看所有
                                    </a>
                                </td>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 


                    <div class="pagination">
                        <span class="step-links">
                            {% if recs.has_previous %}
                            <a href="?page={{ recs.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                第 {{ recs.number }} 页，共 {{ recs.paginator.num_pages }} 页
                            </span>

                            {% if recs.has_next %}
                            <a href="?page={{ recs.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                    <br>

                    <div class="buttons">
                        <a role="button" href="list" class="btn btn-default">
                            进货管理
                        </a>
                        {% if perm == "scale" %}
                        <a role="button" href="out" class="btn btn-default">
                            新建出货记录
                        </a>
                        {% endif %}
                        {% if perm == "account" and not qrcode %}
                        <a role="button" href="scan?action=listout" class="btn btn-default">
                            扫二维码查看全部出货记录
                        </a>
                        {% endif %}
                        {% if perm == "account" and qrcode %}
                        <a role="button" href="listout" class="btn btn-default">
                            全部出货记录
                        </a>
                        {% endif %}
                        {% if perm == "account" and not payed and qrcode %}
                        <a role="button" href="/work/payout?qrcode={{qrcode}}" class="btn btn-default">
                            付款
                        </a>
                        {% endif %}
                        <a role="button" href="/auth/logout" class="btn btn-default">
                            注销
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <br>
        </div>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
