<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>查看记录</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <br>
                    <h1>
                        出货记录
                    </h1>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    车牌号
                                </th>
                                <th>
                                    驾驶员姓名
                                </th>
                                <th>
                                    联系方式
                                </th>
                                <th>
                                    出货磅房
                                </th>
                                <th>
                                    单价
                                </th>
                                <th>
                                    出货量
                                </th>
                                <th>
                                    出发时间
                                </th>
                                <th>
                                    已付款
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rec in recs %}
                            <tr>
                                <td>
                                    {{ rec.id }}
                                </td>
                                <td>
                                    {{ rec.car_no }}
                                </td>
                                <td>
                                    {{ rec.driver_name }}
                                </td>
                                <td>
                                    {{ rec.contact_info }}
                                </td>
                                <td>
                                    {{ rec.scale.name }}
                                </td>
                                <td>
                                    {{ rec.unit }}
                                </td>
                                <td>
                                    {{ rec.amount }}
                                </td>
                                <td>
                                    {{ rec.setoff_time|date:"Y-m-d H:i:s" }}
                                </td>
                                <td>
                                    {% autoescape off %}
                                    {{ rec.payed|yesno:"<font color='blue'>是</font>,<font color='red'>否</font>" }}
                                    {% endautoescape %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 


                    <div style="text-align:center">
                    <ul class="pagination">
                        {% if recs.has_previous %}
                        <li>
                            <a href="?{{params}}page={{recs.previous_page_number}}">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for p in pr %}
                        <li {% if p == recs.number %}class="active"{% endif %}>
                            <a href="?{{params}}page={{p}}">{{p}}</a>
                        </li>
                        {% endfor %}
                        {% if recs.has_next %}
                        <li>
                            <a href="?{{params}}page={{recs.next_page_number}}">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                    <br>

                    {% if sum %}
                    <div class="text-center">
                        <h2>总运费：{{sum}}元</h2>
                    </div>
                    {% endif %}
                    <br>

                    <form role="form" method="GET" action="/work/listout" class="navbar-form text-center">
                        {{form}}
                        <button type="submit" class="btn btn-success">
                            搜索
                        </button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="buttons">
                        <a role="button" href="list" class="btn btn-primary btn-lg left">
                            进货管理
                        </a>

                        {% if params %}
                        <a role="button" href="listout" class="btn btn-primary btn-lg left">
                            全部出货记录
                        </a>
                        {% endif %}

                        {% if perm == "scale" %}
                        <a role="button" href="out" class="btn btn-primary btn-lg">
                            新建出货记录
                        </a>
                        {% endif %}

                        {% if perm == "account" and not qrcode %}
                        <a role="button" href="scan?action=listout" class="btn btn-primary btn-lg">
                            扫二维码查看全部出货记录
                        </a>
                        {% endif %}

                        {% if perm == "account" and not payed and qrcode %}
                        <a role="button" href="/work/payout?qrcode={{qrcode}}" class="btn btn-primary btn-lg">
                            付款
                        </a>
                        {% endif %}

                        <a role="button" href="/auth/logout" class="btn btn-primary btn-lg right">
                            注销
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <br>
        </div>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-datepicker.min.js"></script>
        <script src="/static/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
