<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>进货记录</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <br>
                    <h1>
                        所有进货记录
                    </h1>
                    <br>
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    车牌号
                                </th>
                                <th>
                                    驾驶员姓名
                                </th>
                                <th>
                                    联系方式
                                </th>
                                <th>
                                    煤矿
                                </th>
                                <th>
                                    煤种类
                                </th>
                                <th>
                                    磅房
                                </th>
                                <th>
                                    运费单价
                                </th>
                                <th>
                                    出发时间
                                </th>

                                <th>
                                    矿发量
                                </th>
                                <th>
                                    实收量
                                </th>
                                <th>
                                    到达时间
                                </th>
                                <th>
                                    油卡
                                </th>
                                <th>
                                    油卡已付
                                </th>
                                <th>
                                    现金
                                </th>
                                <th>
                                    现金已付
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rec in recs %}
                            <tr>
                                <td>
                                    {{ rec.id }}
                                </td>
                                <td>
                                    {{ rec.car_no }}
                                </td>
                                <td>
                                    {{ rec.driver_name }}
                                </td>
                                <td>
                                    {{ rec.contact_info }}
                                </td>
                                <td>
                                    {{ rec.mine.name }}
                                </td>
                                <td>
                                    {{ rec.coal_type.name }}
                                </td>
                                <td>
                                    {{rec.scale.name }}
                                </td>
                                <td>
                                    {{ rec.unit }}
                                </td>
                                <td>
                                    {{ rec.setoff_time|date:"Y-m-d H:i:s" }}
                                </td>

                                <td>
                                    {{ rec.setoff_amount|default:"---" }}
                                </td>
                                <td>
                                    {{ rec.arrive_amount|default:"---" }}
                                </td>
                                <td>
                                    {{ rec.arrive_time|date:"Y-m-d H:i:s"|default:"------" }}
                                </td>
                                <td>
                                    {{ rec.card.value|default:"---" }}
                                </td>
                                <td>
                                    {{ rec.card_payed|yesno:"是,否" }}
                                </td>
                                <td>
                                    {{ rec.cash|default:"---" }}
                                </td>
                                <td>
                                    {{ rec.cash_payed|yesno:"是,否" }}
                                </td>
                                <td>
                                    <a role="button" href="detail?qrcode={{ rec.qrcode }}" class="btn btn-default btn-sm">
                                        查看
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                    </div>

                    <div style="text-align:center">
                    <ul class="pagination">
                        {% if recs.has_previous %}
                        <li>
                            <a href="?page={{recs.previous_page_number}}">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for p in pr %}
                        <li {% if p == recs.number %}class="active"{% endif %}>
                            <a href="?page={{p}}">{{p}}</a>
                        </li>
                        {% endfor %}
                        {% if recs.has_next %}
                        <li>
                            <a href="?page={{recs.next_page_number}}">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>

                    <div class="buttons">
                        {% if perm == "mine" %}
                        <a role="button" href="new">
                            新建记录
                        </a>
                        {% endif %}
                        {% if perm == "scale" or perm == "account"%}
                        <a role="button" href="listout">
                            出货管理
                        </a>
                        {% endif %}
                        {% if perm == "account"%}
                        <a role="button" href="balance">
                            统计信息
                        </a>
                        {% endif %}
                        {% if perm == "scale" %}
                        <a role="button" href="scan?action=arrive">
                            扫二维码到货称重
                        </a>
                        {% endif %}
                        {% if perm == "account" %}
                        <a role="button" href="scan?action=selectCard">
                            扫二维码付款
                        </a>
                        {% endif %}
                        <a role="button" href="/auth/logout">
                            注销
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <br>
        </div>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
