<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>扫描二维码</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <br>
                    <h1 class="text-center">
                        扫描二维码
                    </h1>
                    <br>
                    <form role="form" action="{{action}}" method="GET">
                        {{form.as_p}}
                        <br>
                        <br>
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-lg">
                                确定
                            </button>
                            <a role="button" class="btn btn-primary btn-lg" href="list">
                                返回
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <br>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
