<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>搜索</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/bootstrap-datepicker.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <br>
                    <h1>
                        搜索
                    </h1>
                    <br>
                    <form role="form" action="/work/list" method="GET">
                        {{form.as_p}}
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-lg">
                                搜索
                            </button>
                            <a role="button" href="list" class="btn btn-primary btn-lg">
                                返回
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <br>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-datepicker.min.js"></script>
        <script src="/static/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="/static/script.js"></script>
        <script language="javascript">
            $('#id_setoff_time_begin').datepicker({language:"zh-CN",format:"yyyy-mm-dd"});
            $('#id_setoff_time_end').datepicker({language:"zh-CN",format:"yyyy-mm-dd"});
        </script>
    </body>
</html>
