<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>详细信息</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h1 class="text-center">
                        详细信息
                    </h1>
                    <div class="list-group text-center">
                        <div class="list-group-item">
                            车牌号：
                            {{rec.car_no}}
                        </div>
                        <div class="list-group-item">
                            驾驶员姓名：
                            {{rec.driver_name}}
                        </div>
                        <div class="list-group-item">
                            联系方式：
                            {{rec.contact_info}}
                        </div>
                        <div class="list-group-item">
                            发货煤矿：
                            {{rec.mine.name}}
                        </div>
                        <div class="list-group-item">
                            煤类型：
                            {{rec.coal_type.name}}
                        </div>
                        <div class="list-group-item">
                            出发时间：
                            {{ rec.setoff_time|date:"Y-m-d H:i:s" }}
                        </div>
                        <div class="list-group-item">
                            矿发量：
                            {{ rec.setoff_amount }}
                        </div>
                        <div class="list-group-item">
                            实收量：
                            {{ rec.arrive_amount }}
                        </div>
                        <div class="list-group-item">
                            到达磅：
                            {{rec.scale.name}}
                        </div>
                        <div class="list-group-item">
                            到达时间：
                            {{ rec.arrive_time|date:"Y-m-d H:i:s" }}
                        </div>
                        <div class="list-group-item">
                            总运费：
                            {{ total }}
                        </div>
                    </div>
                    <form role="form" id="form" action="/work/selectCard" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-lg">
                                选择油卡
                            </button>
                            <a role="button" href="list" class="btn btn-primary btn-lg">
                                返回列表
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <br>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>
